/* --------------- GENERAL TAGS ---------------*/


body {
  background-color: #18bf9f;
}


h1 {
  font-size: 35px;
  text-align: center;
}


/* --------------- ID TAGS ---------------*/


#author {
  color: #d3d4c5;
  font-size: 20px;
  text-align: right;
}


#quote_text {
  font-size: 25px;
  font-family: sans-serif;
  text-align: left;
}


#quote_block {
  color: #f1f2dc;
}


#rand_quote_gen_title {
  color: #f3f3f3;
}
